body {
  background-color: rgb(2, 2, 59);
  color: antiquewhite;
}

h1 {
  text-align: center;
  text-decoration: underline;
  text-shadow: 3px 3px 3px black;
  padding-top: 35px;
  padding-bottom: 15px;
}

#p1, #p2 {
  text-align:center;
  width: 90%;
  height: auto;
  border: solid black;
  border-width: 5px;
  background-color: rgb(83, 104, 125);
  margin-bottom: 15px;
  box-sizing: border-box;
}

.rollButton, .holdButton {
  align-items: center;
}

